[submodule "notebooks"]
	path = notebooks
	url = https://github.com/fereria/notebooks.git
[submodule "docs/65_SampleCode/python_samplecode"]
	path = docs/65_SampleCode/python_samplecode
	url = https://github.com/fereria/python_samplecode.git
