[submodule "docs/65_SampleCode/blender_samplecode"]
	path = docs/65_SampleCode/blender_samplecode
	url = https://github.com/fereria/blender_samplecode.git
[submodule "notebooks"]
	path = notebooks
	url = https://github.com/fereria/notebooks.git
[submodule "docs/65_SampleCode/pyside_samplecode"]
	path = docs/65_SampleCode/pyside_samplecode
	url = https://github.com/fereria/pyside_samplecode.git
[submodule "docs/65_SampleCode/python_samplecode"]
	path = docs/65_SampleCode/python_samplecode
	url = https://github.com/fereria/python_samplecode.git
