[submodule "docs/65_SampleCode/blender_samplecode"]
	path = docs/65_SampleCode/blender_samplecode
	url = https://github.com/fereria/blender_samplecode.git
[submodule "notebooks"]
	path = notebooks
	url = https://github.com/fereria/notebooks.git
