mkdocs==1.3.1
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
mkdocs-markdownextradata-plugin
mkdocs-material
mkdocs-minify-plugin
markdown-blockdiag
fontawesome-markdown
mkdocs-material-extensions
hbfm
nbconvert
mkdocs-rss-plugin
mkdocs-drawio-exporter
PySide2
MarkupSafe==2.0.1
plantuml-markdown
pyyaml==5.4.1
mkdocs-glightbox
mkdocs-static-i18n
mkdocs-roamlinks-plugin
pillow
cairosvg
notion2md
notion-client