{% extends "base.html" %}

{% block site_meta %}
    {{ super() }}
    {% if page and page.meta.tags %}
    {% for tag in page.meta.tags %}
        <meta name="tag" content="{{ tag }}">
    {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    {{ super() }}
    {% if page and page.meta.pagetype == 'tagpage' %}
        {% include "tag_page.html" %}
    {% endif %}
    {% if 'mdoctag' in config.plugins %}
        {% include "tag_list.html" %}
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ config.site_description }}" />
    <meta property="og:url" content="{{ page.canonical_url }}" />
    <meta property="og:image" content="<url>" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="<username>" />
    <meta name="twitter:creator" content="<username>" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ config.site_description }}" />
    <meta name="twitter:image" content="<url>" />    
{% endblock %}

