.md-typeset h1 {
  /*font-size: 24pt;*/
  font-weight: bold;
  color: #000;
  border-bottom: solid 2px #226847;
  padding-bottom: 5px;
}
.md-typeset h2 {
  border-bottom: 1px dotted #888;
}

/* Material テーマの場合 */
.md-typeset h1::before {
  display: inline-block !important;
  font-family: "FontAwesome";
  content: "\f02d" !important;
  margin-right: 0.3em;
}

.md-typeset h2::before {
  display: inline-block !important;
  font-family: "FontAwesome";
  content: "\f0a9" !important;
  margin-right: 0.3em;
}

.md-typeset h3::before {
  display: inline-block !important;
  font-family: "FontAwesome";
  content: "\f101" !important;
  margin-right: 0.3em;
}

.md-typeset h4::before {
  display: inline-block !important;
  font-family: "FontAwesome";
  content: "\f054" !important;
  margin-right: 0.3em;
}

.md-typeset h5::before {
  display: inline-block !important;
  font-family: "FontAwesome";
  content: "\f054" !important;
  margin-right: 0.3em;
}

.md-typeset h6::before {
  display: inline-block !important;
  font-family: "FontAwesome";
  content: "\f054" !important;
  margin-right: 0.3em;
}

label.md-nav__link {
  background-color: #3cb34057;
  padding: 2px 2px 2px 10px;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

a.md-nav__link {
  font-size: 0.6rem;
}

div.md-sidebar {
  width: 16rem;
}

@media screen and (max-width: 1220px) {
  div.md-sidebar {
    width: auto;
  }
}

div.md-grid {
  max-width: 75rem;
}

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img {
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says p {
  margin: 0;
  padding: 0;
}

.badge-all
 {
  padding: 3px 6px;
  margin-right: 8px;
  margin-left: 1px;
  font-size: 75%;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
  white-space: nowrap;
}

.blue-badge {
  background-color: #58acfa; /*青*/
}

.green-badge {
  background-color: #04b404; /*緑*/
}

.orange-badge {
  background-color: #f09c00; /*オレンジ*/
}
