.md-typeset h1 {
  /*font-size: 24pt;*/
  font-weight: bold;
  color: #000;
  border-bottom: solid 2px #226847;
  padding-bottom: 5px;
}
.md-typeset h2 {
  border-bottom: 1px dotted #888;
}

div.entry-content h2:before {
  font-family: FontAwesome;
  content: "\f14a\00a0";
  color: #ff7f7f;
}

label.md-nav__link {
  background-color: #3cb34057;
  padding: 2px 2px 2px 10px;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

a.md-nav__link{
  font-size: 0.6rem;
}

div.md-sidebar{
  width:16rem;
}

@media screen and (max-width: 1220px) {
  div.md-sidebar{
    width:auto;
  }
}

div.md-grid{
  max-width: 75rem;
}