# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack Start
        env:
          HOOK_URL: ${{ secrets.SlackURL }}
        run: |
          curl -X POST --data-urlencode "payload={\"channel\": \"#github_actions\", \"username\": \"github_aciton_bot\", \"text\": \"GithubPagesのビルドを開始しました...\"}" ${HOOK_URL}

      - name: Git config
        run: |
          git config --global core.symlinks true
          git config --global user.name "Megumi Ando"
          git config --global user.email "remiria@flame-daybreak.net"

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: satackey/action-docker-layer-caching@v0.0.11
        working-directory: ./docker
        continue-on-error: true

      - name: Docker Compose
        working-directory: ./docker
        run: docker-compose -f docker-compose.yml up --build -d

      - name: NbConvert
        run: docker exec mkdocs python create_jupyter_markdown.py

      - name: Create TagPages
        run: docker exec mkdocs python create_tag_pages.py

      - name: Mkdocs
        env:
          TZ: Asia/Tokyo
        run: |
          docker exec mkdocs python create_mkdocs_pages.py
          docker exec mkdocs mkdocs gh-deploy

      - name: Send Slack Finish
        env:
          HOOK_URL: ${{ secrets.SlackURL }}
        run: |
          curl -X POST --data-urlencode "payload={\"channel\": \"#github_actions\", \"username\": \"github_aciton_bot\", \"text\": \"GithubPagesの更新が完了しました！！\"}" ${HOOK_URL}
